{
  deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.9.0"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.11.0"}}},
    {hashids, {git, "https://github.com/snaiper80/hashids-erlang", {tag, "1.0.5"}}}
  ]
}.

{relx,
  [
    {
      release,
        {erbid_alpha, "0.1.0"},
        [erbid]
    },
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
  ]
}.

{erl_opts, [debug_info]}.
